* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aliceblue;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}


.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    margin-bottom: 2rem;
}


#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    /* display: inline; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem; */

    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#vs {
    color: #081b31;
    font-size: 4rem;
    font-weight: 700;

}


.gaembtn {
    height: 100px;
    width: 100px;
    background-color: black;
    gap: 1.5vmin;
    /* margin-top: 15rem; */
}


#btn {
    font-size: 1.5rem;
    width: 25vmin;
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center;
    align-items: center; */
    background-color: brown;
    color: white;
    border-radius: 1rem;
    border: none;
    margin-left: 10px;
}

#new-game {
    font-size: 1.5rem;
    width: 25vmin;

    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center;
    align-items: center; */
    background-color: brown;
    color: white;
    border-radius: 1rem;
    border: none;
}